*{
  padding: 0;
  margin: 0;
  color: rgb(27, 27, 27);
}
.App{
  display: flex;
  background-color: rgb(234, 231, 227);
}
.left-section{
  flex-grow:1;
  box-sizing: border-box;
  height: 100vh;
  background-color: whitesmoke;

}
.right-section{
  flex-grow: 5;
  box-sizing: border-box;
  padding: 10px;
}
